/* FONTS */

/* End Fonts */
* {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
}

body{
  font-family: monospace;
}

.mainbody{
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-image: url('yuichi.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header Styles */
h1, h2{
  text-align: center;
}

.main{
  background-color: rgba(0,0,0,0.5);
  border: 3px grey solid;
  border-radius: 25px;
  padding: 1em;
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;
}

.main>*{
  margin-top: 1em;
}

.search {
	background: no-repeat;
	border-width: 0px 0px 1px 0px;
	color: white;
	font-size: 18px;
}

.search:focus:focus-visible{
  outline: none;
}

.links-wrapper{
  display: flex;
}

.links-wrapper>*{
  margin: 0 1em;
}

a{
  text-decoration: none;
  color: white;
}

li a{
  font-size: 18px;
  font-weight: 700;
}

/*li header*/
li:first-child {
  list-style: none;
  font-weight: bolder;
  line-height: 2em;
  font-size: 24px;
}

li:hover a{
  color: rgb(167, 86, 77);
  transition: 0.5s;
}

/* Custom bullets */
ul.degen{
  list-style: none;
}

ul.degen img{
  height: 18px;
}
